body {
   background-color: black;
}

#section1 {
    background-color: beige;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 300px;
    padding-bottom: 150px;
    border-radius: 15px;
}


#section2 {
    background-color: beige;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 300px;
    padding-bottom: 150px;
    border-radius: 15px;
}


#section3 {
    background-color: beige;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 300px;
    padding-bottom: 150px;
    border-radius: 15px;
}